Packages/
UserSettings/
Library/
Logs/
ProjectSettings/
Temp/
Assets/SourceTrees/
Assets/Exports/
Assets/TreeMaster/Exports/
Assets/TreeMaster/Resources/Materials/
Assets/BOX*
Assets/SSS/
Assets/Amplify*
Assets/_Terrain*
Assets/ALP8310*/
*.meta

*.psb
*.psd
